.header {
  background-color: #333333;
  width: 1440px;
  height: 100px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 26px;
}

.sales {
  width: 300px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: solid 10px red;
}

/* .sales {
  border: solid 10px red;
} */
